extends ./base.jade

block title
    title Update Account
    link(rel="stylesheet", href="/css/account.css")

block content
    h1 Update Account
    - action = '/account/update'
    include ./accForm.jade
